body {
    font-family: Monospace, sans-serif;
    background-color: pink;
}

h1 {
    font-size: 3em;
    margin: 0.325rem 0 1rem;
    color: blue;
}

h2 {
    font-size: 2.4em;
    margin: 0.325rem 0 0.625rem;
    color: darkblue;
}

h3 {
    font-size: 2em;
    margin: 0.325rem 0 0.75rem;
    color: darkcyan;
}

p {
    margin: 0.625rem 0;
}

a {
    color: yellowgreen;
}

.container {
    width: 1500px;
    margin-right: auto;
    background-color: white;
    padding: 1.25rem;
    margin-top: 0.625rem;
    border: 1px solid palevioletred;
}

.row {
    display: flex;
}

.row > .col {
    flex: 1;
}

.question {
    margin: 0.625rem 1.25rem;
}

.question__question {
    margin: 0.625rem 0;
    font-weight: bold;
}

.level {
    font-size: 0.8em;
}

.level--beginner {
    color: darkgreen;
}

.level--medium {
    color: darkgoldenrod;
}

.level--expert {
    color: darkred;
}

.question__info {
    font-style: italic;
    font-size: 0.8em;
}

.question__choices {
    margin: 0.625rem 0;
}

.btn {
    display: block;
    width: 100%;
    margin: 0.625rem 0;
    text-align: center;
    color: red;
    border: 2px solid red;
    background-color: yellow;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.325rem 0;
    cursor: pointer;
}

.jeux{

    width: 1800px; height:500px;
    margin-left:5px;

    margin-top: 150px;

}
.jeux2{

    width: 1000px; height:150px;
    margin-left:5px;

    margin-top: 150px;

}
.tablejeux{

    background-color:rgb(206, 200, 200);
    width: 1800px; height:500px;
    margin-left:20px;

    

}
.tablejeux2{

    background-color:rgb(206, 200, 200);
    width: 1000px; height:150px;
    margin-left:20px;

    

}

.heaedrjeux{

    background-color:rgb(190, 183, 183);
    width: 1800px; height:60px;


}
#navbar {
    overflow: hidden;
    background-color: rgb(228, 106, 106);
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
     width: 1400px; height:80px; 
}

#navbarli {
    display: inline;
    color: #2C74FF;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    width: 200px; height:40px;
}

#navbarul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#inscription{
    background-color: rgb(228, 106, 106);
    width: 400px; height:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
 
}